/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 960px) {
  body {
    font-size: 16px;
  }
}

.title-font-family {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 960px) {
  a {
    font-size: 16px;
  }
}

input {
  border: none;
  text-decoration: none;
  background: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 960px) {
  input {
    font-size: 16px;
  }
}

button {
  border: none;
  text-decoration: none;
  background: none;
  outline: none;
}

header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  header {
    height: 96px;
  }
}
@media screen and (min-width: 960px) {
  header {
    height: 115px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .logo {
    transform: scale(1.5);
  }
}
@media screen and (min-width: 960px) {
  .logo {
    transform: scale(1.8);
  }
}

.header-return {
  color: black;
  position: absolute;
  top: 30px;
  left: 30px;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .header-return {
    top: 45px;
    transform: scale(1.5);
  }
}
@media screen and (min-width: 960px) {
  .header-return {
    top: 54px;
    transform: scale(1.8);
  }
}

.footer-container {
  background-color: #353535;
  color: white;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}
.footer-container a {
  color: white;
  font-size: 16px;
}
.footer-container .footer-container__title {
  width: 90%;
  font-size: 25px;
  padding-bottom: 27px;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .footer-container .footer-container__title {
    width: 85%;
  }
}
.footer-container .footer-container__menu {
  width: 90%;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .footer-container .footer-container__menu {
    width: 85%;
  }
}
.footer-container .footer-container__menu .footer__icon {
  font-size: 16px;
  margin-right: 5px;
}
@media screen and (min-width: 960px) {
  .footer-container .footer-container__menu {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  .footer-container__menu ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
  }
}

.footer-container__menu ul li {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.radial-gradient-button {
  min-width: 180px;
  background: radial-gradient(at 30% 10%, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  box-shadow: 3px 5px 8px #d1d1d1;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 960px) {
  .radial-gradient-button {
    font-size: 16px;
  }
}
.radial-gradient-button:hover {
  box-shadow: 3px 5px 8px #9e9e9e;
  cursor: pointer;
  opacity: 0.7;
}

.card__legend__heart {
  display: flex;
  justify-content: flex-end;
}

.card__legend__heart__icone {
  font-size: 30px;
  position: absolute;
  cursor: pointer;
}

.card__legend__heart__icone--full {
  background: radial-gradient(at 30% 10%, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
}

.card__legend__heart__icone--empty {
  background-color: white;
  z-index: 2;
  opacity: 1;
  transition: opacity 400ms;
}
.card__legend__heart__icone--empty:active {
  opacity: 0;
}
.card__legend__heart__icone--empty:hover {
  opacity: 0;
}

.restaurant__heart {
  display: flex;
  align-items: center;
}
.restaurant__heart .restaurant__heart__icone {
  font-size: 25px;
  position: absolute;
  cursor: pointer;
}
.restaurant__heart .restaurant__heart__icone--full {
  background: radial-gradient(at 30% 10%, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
}
.restaurant__heart .restaurant__heart__icone--empty {
  background-color: #f6f6f6;
  z-index: 2;
  opacity: 1;
  transition: opacity 400ms;
}
.restaurant__heart .restaurant__heart__icone--empty:active {
  opacity: 0;
}
.restaurant__heart .restaurant__heart__icone--empty:hover {
  opacity: 0;
}

.reservation__steps__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 15px;
  box-shadow: 3px 5px 8px #d1d1d1;
}
@media screen and (min-width: 960px) {
  .reservation__steps__step {
    justify-content: center;
    height: 100px;
    margin-top: 40px;
  }
}
.reservation__steps__step .reservation__steps__step__icon {
  padding-left: 45px;
  color: grey;
}
.reservation__steps__step .reservation__steps__step__title {
  padding: 30px;
}

ol {
  list-style: none;
  counter-reset: steps;
}
@media screen and (min-width: 960px) {
  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
}

ol li {
  counter-increment: steps;
  transform: scale(1);
  transition: transform 300ms;
}
ol li:hover {
  transform: scale(1.01);
  background-color: #f2eafb;
  box-shadow: 3px 5px 8px #9e9e9e;
  cursor: pointer;
}
ol li:hover .reservation__steps__step__icon {
  color: #9356DC;
}

ol li::before {
  content: counter(steps);
  color: white;
  background: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -15px;
}
@media screen and (min-width: 960px) {
  ol li::before {
    margin-top: -100px;
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 5px 8px #d1d1d1;
  margin-top: 20px;
}
.card:hover {
  box-shadow: 3px 5px 8px #9e9e9e;
}
.card .card__top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card .card__top .card__top__new {
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #217460;
  padding: 10px;
  position: absolute;
  margin-top: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 960px) {
  .card .card__top .card__top__new {
    font-size: 14px;
  }
}
.card .card__top .card__top__image {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .card__legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card__legend .card__legend__infos__title {
  font-weight: 700;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.card .card__legend .card__legend__infos__location {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.card .card__legend .card__legend__heart {
  margin-top: 20px;
  margin-right: 15px;
}

.home-title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .home-title {
    font-size: 30px;
  }
}

.presentation .presentation__location {
  background-color: #eaeaea;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 5px 2px -2px #d1d1d1;
}
.presentation .presentation__location .presentation__location__icon {
  margin-left: 30px;
}
.presentation .presentation__location .presentation__location__input {
  width: 180px;
  margin-left: 20px;
}
.presentation .presentation__discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 45px;
  padding-bottom: 55px;
}
.presentation .presentation__discover .presentation__discover__title {
  width: 60%;
  text-align: center;
}
.presentation .presentation__discover .presentation__discover__text {
  text-align: center;
  margin-top: 20px;
  width: 80%;
}
.presentation .presentation__discover .presentation__discover__button {
  margin-top: 30px;
}

.reservation {
  padding-top: 50px;
  padding-bottom: 70px;
}
.reservation .reservation__title {
  padding-bottom: 10px;
}

.container__child {
  width: 90%;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .container__child {
    width: 85%;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 65px;
}
.restaurants .restaurants__title {
  padding-bottom: 10px;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .restaurants .restaurants__results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__results .card {
    width: 48%;
  }
}
@media screen and (min-width: 960px) {
  .restaurants .restaurants__results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__results .card {
    width: 30%;
  }
}

.restaurant__header__image {
  height: 260px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.restaurant__menu {
  position: relative;
  margin-top: -40px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding-top: 40px;
  padding-bottom: 70px;
}
.restaurant__menu .restaurant__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.restaurant__menu .restaurant__title .restaurant__heart {
  margin-right: 20px;
}
@media screen and (min-width: 960px) {
  .restaurant__menu .restaurant__title {
    justify-content: center;
    font-size: 30px;
  }
  .restaurant__menu .restaurant__title .restaurant__heart {
    margin-left: 20px;
  }
}
.restaurant__menu .restaurant__menu__content {
  padding-top: 45px;
  padding-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .restaurant__menu .restaurant__menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .restaurant__menu .restaurant__menu__content article {
    width: 32%;
  }
}
.restaurant__menu .restaurant__menu__content .menu__dishes__title .underline {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
}
.restaurant__menu .restaurant__menu__content ul {
  margin-top: 30px;
  margin-bottom: 40px;
}
.restaurant__menu .restaurant__menu__content ul li {
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 5px 8px #d1d1d1;
}
@media screen and (min-width: 960px) {
  .restaurant__menu .restaurant__menu__content ul li {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.restaurant__menu .restaurant__menu__content ul li:hover {
  box-shadow: 3px 5px 8px #9e9e9e;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info {
  margin: 12px 15px 12px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .restaurant__menu .restaurant__menu__content ul li .dish__info {
    margin: 12px 0 12px 0;
  }
}
.restaurant__menu .restaurant__menu__content ul li .dish__info .dish__info-bloc {
  overflow: hidden;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info .dish__info-bloc .dish__info--title {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info .dish__info-bloc .dish__info--details {
  font-size: 16px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info .dish__info--price {
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 700;
}
.restaurant__menu .restaurant__menu__content ul li .menu__checkbox .menu__checkbox--icon {
  color: white;
}

/*# sourceMappingURL=style.css.map */
