/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 960px) {
  body {
    font-size: 16px;
  }
}

.title-font-family {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 960px) {
  a {
    font-size: 16px;
  }
}

input {
  border: none;
  text-decoration: none;
  background: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 960px) {
  input {
    font-size: 16px;
  }
}

button {
  border: none;
  text-decoration: none;
  background: none;
  outline: none;
}

button, a, input {
  cursor: pointer;
}

header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  header {
    height: 60px;
  }
}
@media screen and (min-width: 960px) {
  header {
    height: 80px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .logo {
    transform: scale(1.3);
  }
}
@media screen and (min-width: 960px) {
  .logo {
    transform: scale(1.5);
  }
}

.header-return {
  color: black;
  position: absolute;
  top: 30px;
  left: 30px;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .header-return {
    top: 45px;
    transform: scale(1.5);
  }
}
@media screen and (min-width: 960px) {
  .header-return {
    top: 54px;
    transform: scale(1.8);
  }
}

.footer-container {
  background-color: #353535;
  color: white;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}
.footer-container a {
  color: white;
  font-size: 16px;
}
.footer-container .footer-container__title {
  width: 90%;
  font-size: 25px;
  padding-bottom: 27px;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .footer-container .footer-container__title {
    width: 85%;
  }
}
.footer-container .footer-container__menu {
  width: 90%;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .footer-container .footer-container__menu {
    width: 85%;
  }
}
.footer-container .footer-container__menu .footer__icon {
  font-size: 16px;
  margin-right: 5px;
}
@media screen and (min-width: 960px) {
  .footer-container .footer-container__menu {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  .footer-container__menu ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
  }
}

.footer-container__menu ul li {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  animation: loader-background 3000ms ease-out;
}

@keyframes loader-background {
  0% {
    opacity: 0.98;
    z-index: 2;
  }
  70% {
    opacity: 0.98;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}
.loader__spiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
.loader__spiner .loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
  animation: pan 2700ms ease-in-out;
}
.pan .pan__pan {
  height: 12px;
  width: 60px;
  background: linear-gradient(#782cd3, #ae80e5);
  border-radius: 0 0 40px 40px;
}
.pan .pan__handle {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  background: linear-gradient(#782cd3, #ae80e5);
}

.egg .egg__white {
  height: 30px;
  width: 35px;
  border-radius: 20px 30px 50px 40px;
  background-color: white;
  transform: rotate(20deg);
  display: flex;
}
.egg .egg__white .egg__yellow {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #FF79DA;
  margin-top: 6px;
  margin-left: 9px;
  filter: drop-shadow(0 2px 2px #FF79DA);
}
.egg .egg__white .egg__yellow .egg__center {
  height: 10px;
  width: 6px;
  border-radius: 5px/8px;
  background-color: #ffc6ef;
  opacity: 0.7;
  transform: rotate(25deg);
  margin-top: 1px;
  margin-left: 1.5px;
}
.egg .egg__white .egg__yellow .egg__center .egg__light {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 1.5px;
  left: 0.5px;
}

.egg--one {
  margin-left: -25px;
  animation: egg-lifter 2700ms;
}

@keyframes egg-lifter {
  1% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(3turn);
  }
}
@keyframes pan {
  1% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30deg);
  }
  66% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}
.loader--two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.bell-container .dish-bell-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: right bottom;
  animation: bell-spinner 2700ms ease-in-out;
}
.bell-container .dish-bell-up .dish-bell__top {
  height: 5px;
  width: 5px;
  background: linear-gradient(#782cd3, #ae80e5);
  border-radius: 50%;
}
.bell-container .dish-bell-up .dish-bell__bell {
  height: 35px;
  width: 60px;
  background: linear-gradient(#782cd3, #ae80e5);
  border-radius: 50% 50% 0 0;
}
.bell-container .dish-bell-up .dish-bell__bell .bell__reflect {
  height: 20px;
  width: 1.5px;
  border-radius: 40%;
  background-color: rgba(245, 245, 245, 0.973);
  opacity: 0.5;
  position: absolute;
  margin-left: 4px;
  margin-top: 12px;
}
.bell-container .plate {
  height: 5px;
  width: 70px;
  background: linear-gradient(#782cd3, #ae80e5);
  border-radius: 0 0 20% 20%;
}

.egg--two {
  position: absolute;
  margin-top: 6px;
  animation: egg-spinner 2700ms forwards;
}

@keyframes egg-spinner {
  1% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2.5turn);
  }
}
@keyframes bell-spinner {
  1% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(50deg);
  }
}
.loader--three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  column-gap: 30px;
  margin-left: 10px;
}
.loader--three .wine-glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader--three .wine-glass .glass {
  height: 30px;
  width: 20px;
  border-radius: 5% 5% 46% 46%;
  background-color: #c1ede2;
  border: 0.5px solid #c1ede2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.loader--three .wine-glass .glass .glass__top {
  height: 8px;
  width: 20.5px;
  border-radius: 10px/4px;
  background-color: #c1ede2;
  border-bottom: 0.5px solid white;
  border-top: 0.5px solid white;
  position: absolute;
  margin-top: -4px;
}
.loader--three .wine-glass .glass .wine-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  margin-top: 12.5px;
}
.loader--three .wine-glass .glass .wine-container .wine-top {
  height: 7.5px;
  width: 19px;
  border-radius: 9.5px/4.5px;
  background-color: #FF79DA;
  border-bottom: 1px solid white;
  position: absolute;
  margin-top: -4px;
}
.loader--three .wine-glass .glass .wine-container .wine {
  height: 15px;
  width: 19px;
  background-color: #FF79DA;
  border-radius: 5% 5% 60% 60%;
}
.loader--three .wine-glass .foot {
  height: 15px;
  width: 2.5px;
  background-color: #c1ede2;
  border-radius: 0 0 10% 10%;
  z-index: 1;
}
.loader--three .wine-glass .foot .foot__reflect {
  height: 2.5px;
  width: 2.5px;
  border-radius: 50%;
  border-bottom: 1px solid white;
  position: absolute;
  margin-top: 13.5px;
}
.loader--three .wine-glass .bottom {
  height: 6px;
  width: 15px;
  border-radius: 7.5px/3px;
  background-color: #c1ede2;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 50px;
}
.loader--three .wine-glass .bottom .bottom__reflect {
  height: 5px;
  width: 13px;
  border-radius: 6.5px/2.5px;
  background-color: #c1ede2;
  border-bottom: 0.5px solid white;
}
.loader--three .glass-reflect {
  height: 15px;
  width: 1.5px;
  border-radius: 40%;
  background-color: rgba(245, 245, 245, 0.973);
  opacity: 0.5;
  position: absolute;
  margin-left: -15px;
  margin-top: -17.5px;
}

.wine-glass--one {
  animation: glass-one 2000ms 700ms both;
}

@keyframes glass-one {
  1% {
    transform: rotate(0);
  }
  20% {
    transform: translateX(5px);
  }
  48% {
    transform: translate(8px, -16px) rotate(30deg);
  }
  50% {
    transform: translate(10px, -20px) rotate(30deg);
  }
  100% {
    transform: translateX(10px) rotate(0);
  }
}
.wine-glass--two {
  animation: glass-two 2000ms 700ms both;
}

@keyframes glass-two {
  1% {
    transform: rotate(0);
  }
  20% {
    transform: translateX(-5px);
  }
  48% {
    transform: translate(-8px, -13px) rotate(-5deg);
  }
  50% {
    transform: translate(-10px, -15px) rotate(-5deg);
  }
  100% {
    transform: translateX(-10px) rotate(0);
  }
}
.loader--one {
  animation: loader-one 1500ms ease-in-out;
}

@keyframes loader-one {
  0% {
    transform: scale(0) translateY(0);
  }
  20% {
    transform: scale(1) translateY(10px);
  }
  50% {
    transform: scale(1.5) translateY(-20px);
  }
  99% {
    transform: scale(1) translateY(0);
  }
}
.loader--two {
  animation: loader-two 1500ms 500ms backwards;
}

@keyframes loader-two {
  0% {
    transform: scale(0) translateY(0);
  }
  30% {
    transform: scale(1) translateY(10px);
  }
  50% {
    transform: scale(1.3) translateY(-30px);
  }
  99% {
    transform: translateY(0);
  }
}
.loader--three {
  animation: loader-three 1500ms 700ms backwards;
}

@keyframes loader-three {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1.5);
  }
  99% {
    transform: translateY(0);
  }
}
.radial-gradient-button {
  min-width: 180px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  box-shadow: 3px 5px 8px #d1d1d1;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 960px) {
  .radial-gradient-button {
    font-size: 16px;
  }
}
.radial-gradient-button:hover {
  box-shadow: 3px 5px 8px #9e9e9e;
  cursor: pointer;
  opacity: 0.7;
}

.heart button {
  outline: none;
  border: none;
  height: 30px;
  width: auto;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heart-btn {
  background: linear-gradient(220deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-btn--one {
  font-size: 25px;
  background-repeat: no-repeat;
  background-position: center 30px;
  -webkit-text-stroke-width: 1px;
  z-index: 1;
  transition: all 300ms ease-out;
}
.heart-btn--one:hover {
  background-position: center center;
}
.heart-btn--one:hover:hover + .heart-btn--two {
  opacity: 1;
  z-index: 2;
  transform: scale(1.2);
}

@media screen and (min-width: 960px) {
  .heart-btn--one {
    transition: all 300ms ease-out;
  }
  .heart-btn--one:hover {
    background-position: center center;
  }
  .heart-btn--one:hover:hover + .heart-btn--two {
    opacity: 1;
    z-index: 2;
    transform: scale(1.2);
  }
}
.heart-btn--two {
  font-size: 27px;
  position: absolute;
  top: -1px;
  z-index: 0;
  opacity: 0;
  transform: scale(1);
  transition-property: all;
  transition-delay: 300ms;
}

.reservation__steps__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 15px;
  box-shadow: 3px 5px 8px #d1d1d1;
}
@media screen and (min-width: 960px) {
  .reservation__steps__step {
    justify-content: center;
    height: 100px;
    margin-top: 40px;
  }
}
.reservation__steps__step .reservation__steps__step__icon {
  padding-left: 45px;
  color: grey;
}
.reservation__steps__step .reservation__steps__step__title {
  padding: 30px;
}

ol {
  list-style: none;
  counter-reset: steps;
}
@media screen and (min-width: 960px) {
  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
}

ol li {
  counter-increment: steps;
  transform: scale(1);
  transition: transform 300ms;
}
ol li:hover {
  transform: scale(1.01);
  background-color: #f2eafb;
  box-shadow: 3px 5px 8px #9e9e9e;
  cursor: pointer;
}
ol li:hover .reservation__steps__step__icon {
  color: #9356DC;
}

ol li::before {
  content: counter(steps);
  color: white;
  background: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -15px;
}
@media screen and (min-width: 960px) {
  ol li::before {
    margin-top: -100px;
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 5px 8px #d1d1d1;
  margin-top: 20px;
}
.card:hover {
  box-shadow: 3px 5px 8px #9e9e9e;
}
.card .card__top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card .card__top .card__top__new {
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #217460;
  padding: 10px;
  position: absolute;
  margin-top: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 960px) {
  .card .card__top .card__top__new {
    font-size: 14px;
  }
}
.card .card__top .card__top__image {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .card__legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card .card__legend .card__legend__infos__title {
  font-weight: 700;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.card .card__legend .card__legend__infos__location {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.card .card__legend .card__legend__heart {
  margin-top: 20px;
  margin-right: 15px;
}

.home-title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .home-title {
    font-size: 30px;
  }
}

.presentation .presentation__location {
  background-color: #eaeaea;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 5px 2px -2px #d1d1d1;
}
.presentation .presentation__location .presentation__location__icon {
  margin-left: 30px;
}
.presentation .presentation__location .presentation__location__input {
  width: 180px;
  margin-left: 20px;
}
.presentation .presentation__discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 45px;
  padding-bottom: 55px;
}
.presentation .presentation__discover .presentation__discover__title {
  width: 60%;
  text-align: center;
}
.presentation .presentation__discover .presentation__discover__text {
  text-align: center;
  margin-top: 20px;
  width: 80%;
}
.presentation .presentation__discover .presentation__discover__button {
  margin-top: 30px;
}

.reservation {
  padding-top: 50px;
  padding-bottom: 70px;
}
.reservation .reservation__title {
  padding-bottom: 10px;
}

.container__child {
  width: 90%;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .container__child {
    width: 85%;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 65px;
}
.restaurants .restaurants__title {
  padding-bottom: 10px;
}
@media screen and (min-width: 600px) and (max-width: 959.99px) {
  .restaurants .restaurants__results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__results .card {
    width: 48%;
  }
}
@media screen and (min-width: 960px) {
  .restaurants .restaurants__results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__results .card {
    width: 30%;
  }
}

.restaurant__header {
  width: 100%;
}

.restaurant__header__image {
  height: 260px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.restaurant__menu {
  position: relative;
  margin-top: -40px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding-top: 40px;
  padding-bottom: 70px;
}
.restaurant__menu .restaurant__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.restaurant__menu .restaurant__title .restaurant__heart {
  margin-right: 20px;
}
@media screen and (min-width: 960px) {
  .restaurant__menu .restaurant__title {
    justify-content: center;
    gap: 25px;
    font-size: 30px;
  }
  .restaurant__menu .restaurant__title .restaurant__heart {
    margin-left: 20px;
  }
}
.restaurant__menu .restaurant__menu__content {
  padding-top: 45px;
  padding-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .restaurant__menu .restaurant__menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .restaurant__menu .restaurant__menu__content article {
    width: 32%;
  }
}
.restaurant__menu .restaurant__menu__content .menu__dishes__title .underline {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
}
.restaurant__menu .restaurant__menu__content ul {
  margin-top: 30px;
  margin-bottom: 40px;
}
.restaurant__menu .restaurant__menu__content ul li {
  background-color: white;
  height: 70px;
  border-radius: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 3px 5px 8px #d1d1d1;
}
.restaurant__menu .restaurant__menu__content ul li:hover {
  box-shadow: 3px 5px 8px #9e9e9e;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info-bloc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin: 12px 15px 12px 15px;
  overflow: hidden;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info-bloc .dish__info--title {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info-bloc .dish__info--details {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu .restaurant__menu__content ul li .dish__info--price {
  justify-self: flex-end;
  font-size: 16px;
  font-weight: 700;
  margin-right: 15px;
  margin-bottom: 12px;
}
.restaurant__menu .restaurant__menu__content ul li .dish__select-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  opacity: 0;
}
.restaurant__menu .restaurant__menu__content ul li .dish__select-button:focus + .menu__checkbox {
  margin-right: 0;
}
.restaurant__menu .restaurant__menu__content ul li .dish__select-button:focus + .menu__checkbox > .menu__checkbox--icon {
  transform: rotate(2turn);
}
.restaurant__menu .restaurant__menu__content ul li .menu__checkbox {
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -70px;
  transition: margin-right 500ms ease-out;
}
.restaurant__menu .restaurant__menu__content ul li .menu__checkbox .menu__checkbox--icon {
  color: white;
  font-size: 25px;
  transition: transform 500ms;
}

@keyframes menu-loader {
  10% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.starter--one {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 0.1s;
}

.starter--two {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 0.3s;
}

.starter--three {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 0.5s;
}

.starter--four {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 0.7s;
}

.main-courses--one {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 0.7s;
}
@media screen and (min-width: 960px) {
  .main-courses--one {
    animation-delay: 0.5s;
  }
}

.main-courses--two {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 0.9s;
}
@media screen and (min-width: 960px) {
  .main-courses--two {
    animation-delay: 0.7s;
  }
}

.main-courses--three {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 1.1s;
}
@media screen and (min-width: 960px) {
  .main-courses--three {
    animation-delay: 0.9s;
  }
}

.dessert--one {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 1.3s;
}
@media screen and (min-width: 960px) {
  .dessert--one {
    animation-delay: 0.9s;
  }
}

.dessert--two {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 1.5s;
}
@media screen and (min-width: 960px) {
  .dessert--two {
    animation-delay: 1.1s;
  }
}

.dessert--three {
  opacity: 0;
  animation: menu-loader 1s ease-out forwards;
  animation-delay: 1.7s;
}
@media screen and (min-width: 960px) {
  .dessert--three {
    animation-delay: 1.3s;
  }
}

/*# sourceMappingURL=style.css.map */
