.radial-gradient-button{
    background: $radial-gradient;
    border-radius: 30px;
    border: none;
    @include shadow;
    @include button-size;
    @include button-text;
    @include desktop-only{
        font-size: nth($list: $font-size-desktop, $n: 2);
    }
    &:hover{
        @include shadow-darken;
        @include pointer;
        opacity: 0.7;
    }
}

// Bouton coeur
.card__legend__heart{
    display: flex;
    justify-content: flex-end;           
}  
.card__legend__heart__icone{
    font-size: 30px;
    position: absolute;
    @include pointer;
  }
.card__legend__heart__icone--full{
    background:$radial-gradient;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    z-index: 1;
  }
  .card__legend__heart__icone--empty{
    background-color: white;
    z-index:2;
    opacity: 1;
    transition: opacity 400ms;
    &:active{
        opacity: 0;

    }
    &:hover{
        opacity: 0;
    }
  }