// Liste étapes fonctionnement réservation 
.reservation__steps__step{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: map-get($map: $background-color, $key: light-color);
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 15px;
    box-shadow: 3px 5px 8px $shaddow-color;
    @include desktop-only{
        justify-content: center;
        height: 100px;
        margin-top: 40px;
    }
    .reservation__steps__step__icon{
        padding-left: 45px;
        color: grey;
    }
    .reservation__steps__step__title{
        padding: 30px;
    }   
}

ol {
    list-style: none;
    counter-reset: steps;
    @include desktop-only{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }
  }
  ol li {
    counter-increment: steps;
    transform: scale(1);
    transition: transform 300ms;
    &:hover {
        transform: scale(1.01);
        background-color: lighten($primary-color, $amount: 35%);
        .reservation__steps__step__icon{
            color: $primary-color;
        }
    }

  }
  ol li::before {
    content: counter(steps);
    color: white;
    background: $primary-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -15px;
    @include desktop-only{
    margin-top: -100px;
    }
  }

  
  // Cartes-restaurants 
  .card{
      background-color: white;
      border-radius: 20px;
      box-shadow: 3px 5px 8px $shaddow-color;
      margin-top: 20px;
      .card__top{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .card__top__new{
              background-color: $tertiary-color;
              border-radius: 2px;
              font-size: nth($list: $font-size, $n: 1);
              font-weight: 600;
              color: darken($tertiary-color, 45%);
              @include desktop-only{
                  font-size: nth($list: $font-size-desktop, $n: 1);
              }
              padding: 10px;
              position: absolute;
              margin-top: 15px;
              margin-right: 15px;
          }
          .card__top__image{
            width: 100%;
            height: 225px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
      }
      .card__legend{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .card__legend__infos__title{
              font-weight: nth($list: $font-weight, $n: 3);
              padding-left: 15px;
              padding-top: 20px; 
              padding-bottom: 5px; 
          }
          .card__legend__infos__location{
              padding-left: 15px;
              padding-top: 5px; 
              padding-bottom: 20px;
          }
          .card__legend__heart{
              display: flex;
              justify-content: flex-end;
              margin-top: 20px;
              margin-right: 15px;
              .card__legend__heart__icone{
                font-size: 30px;
                position: absolute;
              }
              .card__legend__heart__icone--full{
                background:$radial-gradient;
                background-clip:text;
                -webkit-background-clip:text;
                color:transparent;
                z-index: 1;
              }
              .card__legend__heart__icone--empty{
                background-color: white;
                z-index:2;
                opacity: 1;
                transition: opacity 400ms;
                &:active{
                    opacity: 0;

                }
                &:hover{
                    opacity: 0;
                }
              }
          }    
      }
  }