body{
    @include text-font-family;
    font-size: nth($list: $font-size, $n: 2);
    font-weight: nth($list: $font-weight, $n: 1);
    @include desktop-only{
        font-size: nth($list: $font-size-desktop, $n: 2);
    }
}

.title-font-family{
    @include title-font-family;
}

a{
    text-decoration: none;
    font-size: nth($list: $font-size, $n: 2);
    font-weight: nth($list: $font-weight, $n: 2);
    color:black;
    @include text-font-family;
    @include desktop-only{
        font-size: nth($list: $font-size-desktop, $n: 2);
    }
}

input{
    border: none;
    text-decoration: none;
    background: none;
    outline: none;
    font-size: nth($list: $font-size, $n: 2);
    font-weight: nth($list: $font-weight, $n: 2);
    @include text-font-family;
    @include desktop-only{
        font-size: nth($list: $font-size-desktop, $n: 2);
    }
}

button{
    border: none;
    text-decoration: none;
    background: none;
    outline: none;
}
