.restaurant__header__image{
    height: 260px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.restaurant__menu{
    position: relative;
    margin-top: -40px;
    background-color: map-get($map: $background-color, $key: light-color);
    border-radius: 40px 40px 0 0;
    padding-top: 40px;
    padding-bottom: 70px;
    .restaurant__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: nth($list: $font-size, $n: 3);
        .restaurant__heart{
            margin-right: 20px;
        }
        @include desktop-only{
            justify-content: center;
            font-size: nth($list: $font-size-desktop, $n: 3);
            .restaurant__heart{
                margin-left: 20px;
            }
        }
    }
    .restaurant__menu__content{
        padding-top: 45px;
        padding-bottom: 40px;
        @include desktop-only{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            article{
                width: 32%;
            }
        }
        .menu__dishes__title{
            .underline{
                border-bottom: 4px solid $tertiary-color;
                padding-bottom: 5px;
            }
        }
        ul{
            margin-top: 30px;
            margin-bottom: 40px;
            li{
                background-color: white;
                border-radius: 20px;
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                @include desktop-only{
                    padding-left: 15px;
                    padding-right: 15px;
                }
                @include shadow;
                &:hover{
                    @include shadow-darken
                }
                .dish__info{
                    margin:  12px 15px 12px 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    @include desktop-only{
                        margin: 12px 0 12px 0;
                    }
                    .dish__info-bloc{
                        overflow: hidden;
                        .dish__info--title{
                            font-weight: nth($list: $font-weight, $n: 3);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .dish__info--details{
                            font-size: nth($list: $font-size, $n: 1);
                            padding-top: 10px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .dish__info--price{
                        justify-self: flex-end;
                        align-self: flex-end;
                        font-size: nth($list: $font-size, $n: 1);
                        font-weight: nth($list: $font-weight, $n: 3);
                    }
                }
                .menu__checkbox{
                    .menu__checkbox--icon{
                        color: white;
                    }
                }
            }
        }
    }
}

@keyframes menu-loader{
    10%{
        opacity: 0;
        transform: translateY(30px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.starter--one{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 0.1s;
}
.starter--two{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 0.3s;
}
.starter--three{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 0.5s;
}

.main-courses--one{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 0.7s;
    @include desktop-only{
        animation-delay: 0.5s;
    }
}
.main-courses--two{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 0.9s;
    @include desktop-only{
        animation-delay: 0.7s;
    }
}
.main-courses--three{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 1.1s;
    @include desktop-only{
        animation-delay: 0.9s;
    }
}

.dessert--one{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 1.3s;
    @include desktop-only{
        animation-delay: 0.9s;
    }
}
.dessert--two{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 1.5s;
    @include desktop-only{
        animation-delay: 1.1s;
    }
}
.dessert--three{
    opacity: 0;
    animation: menu-loader 1s ease-out forwards;
    animation-delay: 1.7s;
    @include desktop-only{
        animation-delay: 1.3s;
    }
}