// Header 
.header-return--welcome{
    display: none;
}

// Taille police titres des sections de la home page
.home-title{
    font-size: nth($list: $font-size, $n: 2);
    font-weight: nth($list: $font-weight, $n: 3);
    @include desktop-only{
        font-size: nth($list: $font-size-desktop, $n: 2);
    }
}

// Section 1 : Présentation/Localisation
.presentation{
    .presentation__location{
        background-color: map-get($map: $background-color, $key: medium-color);
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 5px 2px -2px $shaddow-color;
        .presentation__location__icon{
            margin-left: 30px;
        }
        .presentation__location__input{
            width: 180px;
            margin-left: 20px;
        }
    }
    .presentation__discover{
        @include container-box;
        background-color: map-get($map: $background-color, $key: light-color);
        padding-top: 45px; 
        padding-bottom: 55px; 
        .presentation__discover__title{
            width: 60%;
            text-align: center;
        }
        .presentation__discover__text{
            text-align: center;
            margin-top: 20px;
            width: 80%;
        }
        .presentation__discover__button{
            margin-top: 30px;
        }
    }
}

// Section 2 : Fonctionnement/Réservation
.reservation{
    padding-top: 50px;
    padding-bottom: 70px;
    .reservation__title{
        padding-bottom: 10px;
    }
}

.container__child{
    @include container-box-child;
}

// Section 3 : Liste des restaurants 
.restaurants{
    background-color: map-get($map: $background-color, $key: light-color);
    padding-top: 60px; 
    padding-bottom: 65px; 
    .restaurants__title{
        padding-bottom: 10px;
    }
}