
// Polices 
@mixin title-font-family{
    font-family: 'Shrikhand', cursive;
}

@mixin text-font-family{
    font-family: 'Roboto', sans-serif;
}

// Media Queries
@mixin tablet-only{
    @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)){
        @content;
    }
}

@mixin desktop-only{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@mixin container-box-child{
    width: 90%;
    @include tablet-only{
        width: 85%;
    }
}

// Buttons
@mixin button-size{
    padding: 20px; 
}

@mixin button-text{
    color: white;
    font-size: nth($list: $font-size, $n: 2);
    font-weight: nth($list: $font-weight, $n: 2);
}

@mixin pointer{
    cursor: pointer;
}

// Ombres 
@mixin shadow{
    box-shadow: 3px 5px 8px $shaddow-color;
}
@mixin shadow-darken{
    box-shadow: 3px 5px 8px darken($shaddow-color, 20%);
}
